$base-color: #f6498d;
$dark-color: #ae3063;
$bg-color: #4b1d43;
$yellow-color: #ffd756;
$content-color: #ffe2fa;

.container {
    height: 100vh;
    background-color: $bg-color;

    display: flex;
    justify-content: space-around;
    align-items: center;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            font-size: 60px;
        }
        h2 {
            font-size: 40px;
            span {
                font-style: italic;
                text-transform: uppercase;
                color: $base-color;
            }
        }
        h3 {
            margin-top: 15px;
            font-size: medium;
            font-weight: 300;

            span {
                display: inline-block;
            }

            span:hover {
                color: $yellow-color;
                transition: all 0.3s ease-out;
                cursor: pointer;
            }
        }

        .contact-btn {
            margin-top: 3rem;
            a {
                color: $yellow-color;
                padding: .7rem;
                text-decoration: none;
                
                font-size: large;
                font-weight: 400;

                border: 2px solid $yellow-color;

                &:hover {

                    &::before {
                        content: ' > ';
                    }
                    &::after {
                        content: ' < ';
                    }
                }
            }
        }
    }

    .graphics {

        .circle {
            position: relative;
            background: #592250;
            width: 150px * 3;
            height: 150px * 3;
            border-radius: 100%;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 400px;
            }
        }
    }

    .rolling {
        position: absolute;
        bottom: 7%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0.65;

        &:hover {
            cursor: pointer;
            .frame {
                border: 2px solid $base-color;
                transition: all 0.3s ease-out;
            }
            .ball {
                background: $yellow-color;
                transition: all 0.3s ease-out;
            }
        }

        .frame {
            border: 2px solid #e1e1e1;
            border-radius: 20px;
            width: 40px;
            height: 80px;
    
        }
        @keyframes move {
            from { top: 10%; }
            to { top: 55%; }
        }

        .ball {
            position: absolute;
            top: 50%;
            width: 25px;
            height: 25px;
            background: #e1e1e1;
            border-radius: 100%;
            animation: move 1.5s infinite;
        }
    }

}

.second-container {
    height: 100vh;
    background-color: #33132e;

    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: #ffe2fa;

        label {
            font-size: x-large;
            font-weight: 300;
        }

        h1 {
            font-size: 60px;
        }

        p {
            margin-top: 1.75rem;
            max-width: 1000px;
            font-size: x-large;
        }

        .skill-container {
            display: inline-block;
            margin-top: 5rem;
            border: 1px solid $content-color;
            border-radius: 5px;

            svg {
                font-size: 50px;
                padding: 2rem;
            }

            h1 {
                font-size: 40px;
                font-weight: 500;
                padding: 2rem;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        justify-content: center;

        .content {
            margin-bottom: 4rem;
    
            h1 {
                font-size: 30px;
            }
            h2 {
                font-size: 20px;
            }
        }

        .graphics {

            .circle {
                width: 150px * 2;
                height: 150px * 2;

                img {
                    width: 300px;
                }
            }

        }

        .rolling {
            bottom: 5%;
        }
    }
    .second-container {
        padding: 3rem 0;
        height: 100%;
        .content {
            .skill-container {
                display: flex;
                flex-direction: column;
            }
            h1 {
                font-size: 50px;
            }
            p {
                font-size: large;
                padding: 0 2rem;
            }
        }
    }
}